*{
    padding: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --LightGrey: hsl(217, 12%, 63%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}
@font-face {
    font-family: "Overpass";
    src: url("font/Overpass-VariableFont_wght.ttf");
}





.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 1rem;
    color: white;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}